@import "../common.scss";

thead {
  height: 48px;
  tr {
    th {
      color: $main;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      cursor: pointer;
      .rotate {
        opacity: 0.2;
        vertical-align: middle;
        margin-left: 10px;
      }
      .ascending {
        transform: rotate(180deg);
        opacity: 1;
      }
      .descending {
        opacity: 1;
      }
    }
  }
}

tr {
  background-color: white;
  border-bottom: 1pt solid #f1f1f1;
}

th,
td {
  width: calc(912px / 4);
  max-width: calc(912px / 4);
  overflow: hidden;
  text-align: left;
  div {
    padding-left: 24px;
    max-width: 176px;
  }
}
th:nth-child(2),
td:nth-child(2) {
  width: calc(912px / 4 + 40px);
  max-width: calc(912px / 4 + 40px);
}
th:nth-child(4),
td:nth-child(4) {
  width: calc(912px / 4 - 40px);
  max-width: calc(912px / 4 - 40px);
}
tbody {
  color: $secondary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  tr {
    height: 72px;
  }
}
