@import "../common.scss";

thead {
  height: 48px;
  tr {
    th {
      color: $main;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

tr {
  background-color: white;
  border-bottom: 1pt solid #f1f1f1;
}

th,
td {
  width: calc(912px / 4);
  max-width: calc(912px / 4);
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;

  div {
    padding-left: 24px;
    max-width: 176px;
  }
}

tbody {
  color: $secondary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.rotate {
  opacity: 0.2;
  vertical-align: middle;
  margin-left: 10px;
}

.ascending {
  transform: rotate(180deg);
  opacity: 1;
}

.descending {
  opacity: 1;
}
