@import "../common.scss";

.edit-button-group {
  display: flex;
  justify-content: flex-end;

  .edit-button {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 16px;

    .icon {
      color: #909090;
      height: 24px;
      width: 24px;
    }
  }
}
